<a href="https://colab.research.google.com/github/Kartikk99/py/blob/master/Internship_Problem_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv('california_housing_train.csv')
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [3]:
df.shape

(17000, 9)

In [4]:
corr_matrix= df.corr(method= 'pearson', min_periods=1)
corr_matrix

                    longitude  latitude  ...  median_income  median_house_value
longitude            1.000000 -0.925208  ...      -0.015485           -0.044982
latitude            -0.925208  1.000000  ...      -0.080303           -0.144917
housing_median_age  -0.114250  0.016454  ...      -0.115932            0.106758
total_rooms          0.047010 -0.038773  ...       0.195383            0.130991
total_bedrooms       0.071802 -0.069373  ...      -0.013495            0.045783
population           0.101674 -0.111261  ...      -0.000638           -0.027850
households           0.059628 -0.074902  ...       0.007644            0.061031
median_income       -0.015485 -0.080303  ...       1.000000            0.691871
median_house_value  -0.044982 -0.144917  ...       0.691871            1.000000

[9 rows x 9 columns]

In [5]:
req_corr_matrix= corr_matrix.iloc[len(corr_matrix)-1]
req_corr_matrix

longitude            -0.044982
latitude             -0.144917
housing_median_age    0.106758
total_rooms           0.130991
total_bedrooms        0.045783
population           -0.027850
households            0.061031
median_income         0.691871
median_house_value    1.000000
Name: median_house_value, dtype: float64

In [6]:
keys= req_corr_matrix.keys()
keys

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [7]:
list= []
count=0
for x in range(len(req_corr_matrix)):
  if req_corr_matrix[x] < 0 or req_corr_matrix[x] > 0.85:
    list.append(count)
  count+=1
list

[0, 1, 5, 8]

In [8]:
req_list= []
for n in list:
  req_list.append(list[:n-1])
print(req_list)

[[0, 1, 5], [], [0, 1, 5, 8], [0, 1, 5, 8]]

In [9]:
drop= keys[req_list[0]]
drop

Index(['longitude', 'latitude', 'population'], dtype='object')

In [10]:
df2= df.drop(drop, axis= 1)

In [11]:
df2

       housing_median_age  total_rooms  ...  median_income  median_house_value
0                    15.0       5612.0  ...         1.4936             66900.0
1                    19.0       7650.0  ...         1.8200             80100.0
2                    17.0        720.0  ...         1.6509             85700.0
3                    14.0       1501.0  ...         3.1917             73400.0
4                    20.0       1454.0  ...         1.9250             65500.0
...                   ...          ...  ...            ...                 ...
16995                52.0       2217.0  ...         2.3571            111400.0
16996                36.0       2349.0  ...         2.5179             79000.0
16997                17.0       2677.0  ...         3.0313            103600.0
16998                19.0       2672.0  ...         1.9797             85800.0
16999                52.0       1820.0  ...         3.0147             94600.0

[17000 rows x 6 columns]

In [12]:
corr_matrix_final= df2.corr(method='pearson', min_periods= 1)

In [13]:
corr_matrix_final

                    housing_median_age  ...  median_house_value
housing_median_age            1.000000  ...            0.106758
total_rooms                  -0.360984  ...            0.130991
total_bedrooms               -0.320434  ...            0.045783
households                   -0.302754  ...            0.061031
median_income                -0.115932  ...            0.691871
median_house_value            0.106758  ...            1.000000

[6 rows x 6 columns]